# Copy this file to .env before running Docker.
# For safety, keep the real password out of version control.
# Example Atlas username: selman1907
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cs306cluster.h6hnm1n.mongodb.net/chef_in_pocket?retryWrites=true&w=majority&appName=CS306Cluster

API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=5001
RECIPE_SERVICE_PORT=5002
PANTRY_SERVICE_PORT=5003
COMMUNITY_SERVICE_PORT=5004
ASSISTANT_SERVICE_PORT=5005
