.DS_Store
.env
.env.*
!.env.example
.idea/
.vscode/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
*.class
*.log
*.pyc
*.swp
*.iml
*.ipr
*.iws
.atom/
.build/
.buildlog/
.history/
.svn/
.swiftpm/
migrate_working_dir/
app.*.symbols
app.*.map.json

android/app/debug
android/app/profile
android/app/release
ios/Flutter/.last_build_id
ios/Pods/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

backend/**/node_modules/
backend/**/.env
