.DS_Store
.idea/
.vscode/
.env
.env.*
!.env.example

frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/ios/Pods/
frontend/macos/Pods/
frontend/linux/flutter/ephemeral/
frontend/windows/flutter/ephemeral/

backend/**/node_modules/
backend/**/.env

